In [27]:
import pandas as pd
import re
import networkx as nx

In [8]:
df_dataset = pd.read_json('./dataset.json')

In [9]:
df_T = df_dataset.T

In [10]:
df_T['filename'] = df_T.apply(lambda row : re.sub(r'^\D*0*(\d+).*', r'\1', row['filename']), axis = 1)

In [11]:
df_T = df_T.reset_index()

In [12]:
df_T = df_T.drop(columns=['title', 'index'])

In [13]:
df_T = df_T.rename(columns={"celex_id": "id"})

In [14]:
df_T

,text,labels,filename
0,SAMOUPRAVNA INTERESNA ZAJEDNICA MIROVINSKOG I ...,"[3562, 1436]",34535
1,\nVLADA REPUBLIKE HRVATSKE\n611\nNa temelju č...,"[305, 4730, 2719]",38327
2,MINISTARSTVO GOSPODARSTVA\nNa temelju Ugovora ...,"[4368, 763, 27189, 1726]",23888
3,ZASTUPNIČKI DOM HRVATSKOGA DRŽAVNOG SABORA\nNa...,"[305, 1858, 2013]",11746
4,\nDRŽAVNA GEODETSKA UPRAVA\n1391\nNa temelju ...,[4910],32685
...,...,...,...
10571,HRVATSKI SABOR\n3103\nNa temelju članka 24. Za...,[4667],24977
10572,\nDRŽAVNI ZAVOD ZA NORMIZACIJU I MJERITELJSTV...,"[5960, 2563, 3596, 4150]",3286
10573,HRVATSKI SABOR\n1703\nNa temelju članka 88. Us...,"[33133, 1325, 2938, 829, 4415]",23067
10574,\nDRŽAVNI ZAVOD ZA RADIOLOŠKU I NUKLEARNU SIG...,"[2784, 5127, 3216, 4374, 4150, 5566]",43255
10575,\nMINISTARSTVO UNUTARNJIH POSLOVA\n778\nNa te...,"[33346, 5187]",4342

In [15]:
df_crovoc_labels = pd.read_json('./crovoc_labels.json')

In [16]:
df_crovoc_labels

,32768,32769,32770,32771,32772,32773,32774,32775,32776,10924,...,10919,32750,32751,10920,32761,32762,8191,32764,32766,32767
similar_terms,[],[],[],[],[],[],[],[],[],[],...,[],[],[],[],[],[],[],[],[],[]
rank,term,term,term,term,term,term,term,term,term,term,...,term,term,term,term,term,term,term,term,term,term
thesaurus,28349,28349,28349,28349,28349,28349,28349,28349,28349,28349,...,28349,6022,6022,28349,6022,6022,28349,6022,28349,28349
id,32768,32769,32770,32771,32772,32773,32774,32775,32776,10924,...,10919,32750,32751,10920,32761,32762,8191,32764,32766,32767
name,korana,dinara,biokovo,plješivica,svilaja,učka,mosor,ćićarija,ivanščica,jarmina,...,ivanska,zadarsko-kninska županija,šibenska županija,jabukovac,ministarstvo prosvjete i kulture,"ministarstvo zaštite okoliša, prostornog uređe...",jabuka,ministarstvo privatizacije,lonjsko-ilovska zavala,mura
micro_thesaurus,32675,32676,32676,32676,32676,32676,32676,32676,32676,32669,...,32669,33026,33026,32669,32851,32851,32669,32851,32666,32675
parents,[32675],[32676],[32676],[32676],[32676],[32676],[32676],[32676],[32676],[32669],...,[32669],[14973],[14973],[32669],[32356],[32356],[32669],[32356],[35537],[32675]

In [17]:
df_dataset['odluka o usklađivanju novčanih naknada za tjelesno oštećenje od 1. siječnja 1990.']

title       odluka o usklađivanju novčanih naknada za tjel...
text        SAMOUPRAVNA INTERESNA ZAJEDNICA MIROVINSKOG I ...
labels                                           [3562, 1436]
filename                                         NN034535.xml
Name: odluka o usklađivanju novčanih naknada za tjelesno oštećenje od 1. siječnja 1990., dtype: object

In [23]:
df_revised = df_crovoc_labels.transpose().reset_index()

In [24]:
df_revised = df_revised.rename(columns = {"index": "child"})
df_revised

,child,similar_terms,rank,thesaurus,id,name,micro_thesaurus,parents
0,32768,[],term,28349,32768,korana,32675,[32675]
1,32769,[],term,28349,32769,dinara,32676,[32676]
2,32770,[],term,28349,32770,biokovo,32676,[32676]
3,32771,[],term,28349,32771,plješivica,32676,[32676]
4,32772,[],term,28349,32772,svilaja,32676,[32676]
...,...,...,...,...,...,...,...,...
8337,32762,[],term,6022,32762,"ministarstvo zaštite okoliša, prostornog uređe...",32851,[32356]
8338,8191,[],term,28349,8191,jabuka,32669,[32669]
8339,32764,[],term,6022,32764,ministarstvo privatizacije,32851,[32356]
8340,32766,[],term,28349,32766,lonjsko-ilovska zavala,32666,[35537]
8341,32767,[],term,28349,32767,mura,32675,[32675]

In [25]:
for i, p in enumerate(df_revised['parents']):
    #if type(p) is list:
    if len(p) > 0:
        df_revised['parents'][i] = p[0]
    else:
        df_revised = df_revised.drop(i) #makni one koje nemaju roditelje - samo ih je 3
        print(i)

<ipython-input-25-0a85839703d4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_revised['parents'][i] = p[0]

29
4063
8068

In [28]:
G = nx.from_pandas_edgelist(df_revised, source='parents', target='child', create_using=nx.DiGraph)

In [30]:
roots = [node for node, degree in G.in_degree() if degree == 0]
roots

[6022, 32859, 28349]

In [31]:
leaves = [node for node, degree in G.out_degree() if degree == 0]
len(leaves)

6734

In [32]:
paths = []
for root in roots:
    for leaf in leaves:
        for path in nx.all_simple_paths(G, root, leaf):
            paths.append(path)


out = pd.DataFrame(paths).fillna('')
out.columns = reversed(out.add_prefix('level ').columns)

In [33]:
out

,level 8,level 7,level 6,level 5,level 4,level 3,level 2,level 1,level 0
0,6022,34347,14949,32927.0,32783.0,,,,
1,6022,27953,14957,32784.0,,,,,
2,6022,34347,14949,32951.0,32785.0,,,,
3,6022,32851,14946,14952.0,32356.0,26669.0,32807.0,,
4,6022,27953,14958,11812.0,33044.0,32893.0,,,
...,...,...,...,...,...,...,...,...,...
6729,28349,32669,10919,,,,,,
6730,28349,32669,10920,,,,,,
6731,28349,32669,8191,,,,,,
6732,28349,32666,35537,32766.0,,,,,
6733,28349,32675,32767,,,,,,